*DS_Store
.vs/
.vscode/
.idea/
/prometheus/blackbox_targets.yml
/prometheus/exporters/node-exporter.json
/prometheus/exporters/cadvisor.json
/prometheus/exporters/nginx-exporter.json
/alertmanager/alertmanager.yml
/cadvisor_debug
.env